




.main {
    background-color: wheat;
    backdrop-filter: brightness(2);
    animation: spin 1s linear infinite;

    padding: 20px 0;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: blueviolet;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.img {
    height: 400px;
    width: 200px;
}

.links {
    display: flex;
    gap: 20px;
}
